button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  color: #ffffff;

  &:hover {
    cursor: pointer;
  }

  img {
    padding: 0 10px;
  }

  &.mainLoginBtn {
    background: #04c45c;

    &:hover {
      background: #0acd65;
    }
  }

  &.googleLoginBtn {
    background: #1a202c;

    &:hover {
      background: #30394b;
    }
  }
}
