@use "../abstracts/" as *;

.loginForm {
  @include flex(nowrap, column, flex-start, center);
  font-family: "Lato";
  width: 50%;
  gap: 20px 0;

  h2 {
    font-family: "Merriweather";
    font-weight: 700;
  }

  h4 {
    font-family: "Merriweather";
  }

  h4 + h2 {
    margin-top: 10px;
  }
}

.formTitle {
  margin-bottom: 10px;
}

.reminders {
  @include flex(wrap, row, center, space-between);
  width: 100%;
  margin: 10px 0;
  font-size: 14px;

  input + label {
    margin-left: 10px;
  }
}

.register {
  font-size: 16px;
  bottom: 0;
}
