@use "../abstracts/" as *;

header {
  @include flex(nowrap, row, center, space-between);
  height: 100vh;
}

.leftContainer {
  @include flex(nowrap, row, center, center);
  width: 50%;
  height: 100%;
  background-color: $white300;

  img {
    width: 50%;
  }
}

.rightContainer {
  @include flex(nowrap, column, center, center);
  width: 50%;
  height: 100%;
}
